<div id="contactSection">
    <div id="contactHeaderContainer">
        <h1>Contact Me</h1>
    </div>
    <form id="contactForm">
        <div id="emailInputContainer">
            <input type="emaial" placeholder="email" id="contactEmail">
        </div>
        <div id="titleInputContainer">
            <input type="text" placeholder="title" id="contactTitle">
        </div>
        <div id="messageInputContainer">
            <input type="text" placeholder="message" id="contactMessage">
        </div>
    </form>
</div>
