<div id="contactSection">
    <div id="contactHeaderContainer">
        <h1 class="cal-sans-regular">Get In Touch</h1>
    </div>
    <form id="contactForm">
        <div id="emailTileContainer">
            <div class="inputDiv">
                <label for="contectEmail" class="roboto-text">Email</label>
                <textarea name="email" id="contactEmail" placeholder="email" class="roboto-text"></textarea>
            </div>
            <div class="inputDiv">
                <label for="contactTitle" class="roboto-text">Title</label>
                <textarea name="title" id="contactTitle" placeholder="title" class="roboto-text"></textarea>
            </div>
        </div>
        <div id="messageContainer">
            <div>
                <label for="message" class="roboto-text">Message</label>
                <textarea placeholder="message" name="message" id="contactMessage" class="roboto-text"></textarea>
            </div>
        </div>
        <div id="buttonContainer">
            <div id="buttonInnerContainer">
                <button id="submitBtn" class="roboto-text" (click)="submitEmail()">Send</button>
            </div>
        </div>
    </form>
</div>
