<div id="contactSection">
    <div id="contactHeaderContainer">
        <h1>Contact Me</h1>
    </div>
    <form id="contactForm">
        <div id="emailTileContainer">
            <div class="inputDiv">
                <textarea name="email" id="contactEmail" placeholder="email"></textarea>
            </div>
            <div class="inputDiv">
                <textarea name="title" id="contactTitle" placeholder="title"></textarea>
            </div>
        </div>
        <div id="messageContainer">
            <div>
                <textarea placeholder="message" name="message" id="contactMessage"></textarea>
            </div>
        </div>
        <div id="buttonContainer">
            <button id="submitBtn">send</button>
        </div>
    </form>
</div>
