<nav id="navbar">
  <div id="navbarLinksContainer">
    <button id="homeBtn" (click)="setActive('home')">
      <img src="/home.png" alt="home">
    </button>
    <button id="projectsBtn" (click)="setActive('projects')">
      <img src="/projects.png" alt="projects">
    </button>
    <button id="blogsBtn" (click)="setActive('blogs')">
      <img src="blog.png" alt="blogs">
    </button>
    <button id="contactBtn" (click)="setActive('contact')">
      <img src="/email2.png" alt="contact">
    </button>
  </div>
</nav>
