<div class="projectContainer">
    <div class="linksContainer">
        <button (click)="backToProjects()">
            <img src="/backArrow.png" alt="back">
        </button>
        <a *ngIf="project?.github" [href]="project.github" target="_blank" class="projectGithub">
            <img src="/github.png" alt="github">
        </a>
        <a *ngIf="project?.link" [href]="project.link" target="_blank" class="projectLink">
            <img src="/goToArrow.png" alt="visit">
        </a>
    </div>
    <div class="projectTitleContainer">
        <h1>{{ project?.title }}</h1>
    </div>
    <div class="projectDescriptionContainer">
        <p>{{ project?.description }}</p>
    </div>
</div>