<div id="blogPage">
    <div id="blogHeader">
        <button (click)="backToBlogs()">
            <img src="/backArrow.png" alt="back">
        </button>
        <div id="blogHeaderContainer">
            <h2 class="cal-sans-regular">{{ blog?.title }}</h2>
            <h3 class="cal-sans-regular">{{ formatDate(blog?.date) }}</h3>
        </div>
    </div>
    <div *ngIf="blog?.image" class="blogImageContainer">
        <img class="blogImage" [src]="blog?.image?.url" [alt]="blog?.title + 'image'">
    </div>
    <div id="blogTextContainer">
    </div>

</div>