<app-navbar (sectionChange)="onSectionChange($event)"></app-navbar>

<div id="mainBody">
  <aside id="homeLeft">
    <app-sidebar></app-sidebar>
  </aside>

  <section id="homeRight">
    <app-intro *ngIf="activeSection === 'home'"></app-intro>
    <app-projects *ngIf="activeSection === 'projects'" (projectSelected)="showProject($event)"></app-projects>
    <app-blogs *ngIf="activeSection === 'blogs'" (blogSelected)="showBlog($event)"></app-blogs>
    <app-experience *ngIf="activeSection === 'home'"></app-experience>
    <app-education *ngIf="activeSection === 'home'"></app-education>
    <app-contact *ngIf="activeSection === 'home' || activeSection === 'contact'"></app-contact>
    <app-blog *ngIf="activeSection === 'blogDetail'" [slug]="selectedBlogSlug" (returnToBlogs)="goToBlogs()"></app-blog>
    <app-project *ngIf="activeSection === 'projectDetail'" [slug]="selectedProjectSlug" (returnToProjects)="goToProjects()"></app-project>
  </section>
</div>