/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    width: 100% !important;
  }
  
  /* Navbar */
  app-navbar {
    margin: 0px;
    padding: 2rem 0rem;
    width: 100%;
    z-index: 1000;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: inherit;
  }
  
  /* Main Body */
  #mainBody {
    display: flex;
    margin: 10rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }
  
  /* Sidebar */
  #homeLeft {
    width: 40% !important;
    height: auto;
    background: inherit;
    padding: 4rem 2rem;
    padding-top: 0rem;
    position: sticky;
    top: 8rem; /* accounts for navbar height + extra space */
    align-self: flex-start;
  }


  
  /* Main Content */
  #homeRight {
    width: 60%;
    background: inherit;
    margin-bottom: 4rem;
  }
  
  /* Mobile Adjustments */
  @media (max-width: 900px) {
    #mainBody {
      flex-direction: column;
      margin: 6rem 2rem 2rem 2rem;
      margin-top: 2rem;
    }

    app-navbar{
        display: none;
    }
  
    #homeLeft {
      width: 100% !important;
      margin: 0rem;
      padding: 0rem;
      position: relative;
      top: 0;
      border: 3px solid yellow;
    }
  
    #homeRight {
      width: 100%;
      border: 3px solid red;
    }
  }