#homeContainer{
    display: flex;
    flex-direction: row;
    background-color: rgb(20, 20, 33);
    margin: 0px !important;
    padding: 2rem 8rem;
    margin-top: 0rem !important;
}

#homeLeft{
    width: 50%;
    min-height: 100vh;
}

#homeRight{
    width: 50%;
    min-height: 100vh;
}