<div id="projectsPage">
    <div id="projectsPageHeaderContainer">
        <h1 class="cal-sans-regular">Projects</h1>
    </div>
    <div id="projectCardsContainer">
        <button *ngFor="let project of projects?.data" class="projectCard" (click)="goToProject(project.slug)">
            <img class="projectImage" [src]="getProjectImage(project)" alt="{{ project.title }} image" />
            <div class="projectContent">
              <div class="projectTitleContainer">
                <h2 class="cal-sans-regular">{{ project.title }}</h2>
                <div class="projectLinks">
                  <a *ngIf="project.github" [href]="project.github" target="_blank" class="projectGithub" (click)="$event.stopPropagation()">
                    <img class="linkImg" src="/github.png" alt="github">
                  </a>
                  <a *ngIf="project.link" [href]="project.link" target="_blank" class="projectLink" (click)="$event.stopPropagation()">
                    <img class="linkImg" src="/visitArrow.png" alt="visit">
                  </a>
                </div>
              </div>
              <div class="project">
                <p class="roboto-text">{{ project.description }}</p>
              </div>
            </div>
          </button>
    </div>
</div>
