#moreContainer{
    display: flex;
    flex-direction: row;
    padding: 0px;
    border-radius: 8px;
    min-height: 4vh;
}

#moreProjects{
    margin: 2rem;
    margin-top: 0px;
    margin-right: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    min-height: 4vh;
    background-color: white;
    width: 50%;

}

#moreBlogs{
    margin: 2rem;
    margin-top: 0px;
    margin-left: 1rem;
    width: 50%;
    background-color: white;
    padding: 0.5rem;
    border-radius: 8px;
    min-height: 4vh;
}
