<div id="educationContainer">
    <div id="educationHeaderContainer">
        <h1 class="cal-sans-regular">Education</h1>
    </div>
    <div id="educationCardContainer">
        <div *ngFor="let edu of educationData?.data" class="educationCard">
            <div class="educationTitleContainer">
                <div class="educationSchoolDegree">
                    <h2 class="cal-sans-regular">{{ edu.school }} - {{ edu.degree }}</h2>
                </div>
                <a class="eduButton" [href]="edu.link" target="_blank">
                    <img src="/visitArrow.png" alt="Visit">
                </a>
            </div>
            <div class="eduDates">
                <h4 class="cal-sans-regular">{{ edu.startDate }} - {{ edu.endDate }}</h4>
            </div>
            <div class="eduDescription">
                <p class="roboto-text">{{ edu.description }}</p>
            </div>
        </div>
    </div>
</div>