<div id="sidebarContainer">
    <div id="sidebarImageContainer">
        <img id="sidebarImage" [src]="sidebarImage.url ?? '/user.png'" alt="image of me">
    </div>
    <div id="sidebarNameContainer">
        <h2 class="outfit-header cal-sans-regular">{{ sidebarData?.data?.name}}</h2>
    </div>
    <div id="sidebarLinksContainer">
        <div id="linkedInContainer">
            <a [href]="sidebarData?.data?.linkedin" target="_blank">
                <img class="icon" src="/linkedin.png" alt="LinkedIn">
            </a>
        </div>
        <div id="githubContainer">
            <a [href]="sidebarData?.data?.github" target="_blank">
                <img class="icon" src="/github.png" alt="Github">
            </a>
        </div>
        <div id="emailContainer">
            <a href="sidebarData?.data?.email" target="_blank">
                <img class="icon" src="/email.png" alt="Email">
            </a>
        </div>
        <div id="resumeContainer">
            <a (click)="openResume($event)" href="#">
                <img class="icon" src="/resume.png" alt="Resume">
            </a>
        </div>
    </div>
</div>
