/* Header Font Format */
.cal-sans-regular {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Paragraph Font Format */
.roboto-text {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Experience Header */
h1{
    text-transform: uppercase;
    color: white;
    font-size: 6rem;
    margin: 0rem;
    padding-bottom: 0rem;
}

/* Experience Title */
h2{
    text-transform: uppercase;
    color: rgba(256, 256, 256, 0.75);
    font-size: 2rem;
    margin: 0rem;
    padding-bottom: 0rem;
}

/* Experience Dates */
h4{
    text-transform: uppercase;
    color: rgba(256, 256, 256, 0.75);
    font-size: 1.2rem;
    margin: 0rem;
    padding-bottom: 0rem;
}

/* Experience Description */
p{
    color: rgba(256, 256, 256, 0.85);
    font-size: 1rem;
    margin: 1rem 0rem; 
    padding-bottom: 0rem;
}

/* Experience Content Container */
#experienceContainer{
    padding-bottom: 4rem;
}

/* Experience Card Container */
.experienceCard{
    padding: 1rem;
    transition: transform 0.5s ease;
    margin-bottom: 1rem;
}

/* Expeirence Card Container Hover Effect */
.experienceCard:hover{
    background-color: rgba(256, 256, 256, 0.05);
    border-radius: 16px;
    transform: scale(1.02);
}


/* Experience Title Container */
.experienceTitleContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* Experience Description Container */
.expDescription{
    overflow: hidden;
    max-height: 68px;
}

/* Visit Experience Image */
img{
    height: 50px;
    aspect-ratio: 1 / 1;
    transition: transform 0.5s ease;
}

/* Experience Card Container Hover Visit Experience Image Effect */
.experienceCard:hover img{
    transform: scale(1.02);
}

/**/
