<div id="experienceContainer">
    <div id="experienceHeaderContainer">
        <h1 class="cal-sans-regular">Experience</h1>
    </div>
    <div id="experienceCardContainer">
        <div *ngFor="let exp of experienceData?.data" class="experienceCard">
            <div class="experienceTitleContainer">
                <div class="expCompanyPosition">
                    <h2 class="cal-sans-regular">{{ exp.company }} - {{ exp.position }}</h2>
                </div>
                <div class="linkContainer">
                    <a class="expButton" [href]="exp.link" target="_blank">
                        <img src="/visitArrow.png" alt="Visit">
                    </a>
                </div>
            </div>
            <div class="expStartEnd">
                <h4 class="cal-sans-regular">{{ exp.startDate }} - {{ exp.endDate }}</h4>
            </div>
            <div class="expDescription">
                <p class="roboto-text">{{ exp.description }}</p>
            </div>
        </div>
    </div>
</div>
