<div id="blogsPage">
    <div id="blogsHeaderContainer">
        <h1 class="cal-sans-regular">Recent Blogs</h1>
    </div>
    <div id="blogsCardContainer">
        <div *ngFor="let blog of blogs?.data" class="blogContainer">
            <button class="blogTitleContainer" (click)="goToBlog(blog.slug)">
                <div class="blogHeaderTitleContainer">
                    <h2 class="cal-sans-regular">{{ blog?.title }}</h2>
                    <h4 class="cal-sans-regular">{{ formatDate(blog?.date) }}</h4>
                </div>
                <div class="blogSummaryContainer">
                    <p class="roboto-text">{{ blog?.summary }}</p>
                </div>
            </button>
        </div>
    </div>
</div>